In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from multiprocessing import Pool, cpu_count
NTHREAD = cpu_count()

import warnings
warnings.filterwarnings("ignore")

from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 50)

In [2]:
train  = pd.read_csv('../input/application_train.csv.zip')
train['is_train'] = 1

test  = pd.read_csv('../input/application_test.csv.zip')
test['is_train'] = 0

trte = pd.concat([train, test], ignore_index=True)

In [3]:
prev = pd.read_csv('../input/previous_application.csv.zip')
prev.sort_values('DAYS_DECISION', inplace=True)

In [4]:
user_id = pd.read_csv('../data/user_id_v8.csv.gz')

In [5]:
dup = user_id[user_id.duplicated('user_id', False)]
cnt = dup.groupby('user_id').size()
cnt.name = 'dup_cnt'
cnt = cnt.reset_index()
cnt['dup_id'] = range(cnt.shape[0])

dup = pd.merge(dup, cnt, on='user_id', how='left')
dup = pd.merge(dup, trte, on='SK_ID_CURR', how='left')
dup.sort_values(['user_id', 'DAYS_BIRTH'], ascending=[True, False], inplace=True)

dup['seq'] = 1
dup['seq'] = dup.groupby('user_id').seq.cumsum()-1

col = train.columns.tolist() + [c for c in dup.columns if c not in train.columns]
for c in ['dup_id', 'dup_cnt', 'user_id']:
    col.remove(c)
col = ['user_id'] + col

dup = dup[col].reset_index(drop=True)
dup

,user_id,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,...,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,seq
0,18.0,100279,0.0,Cash loans,M,N,Y,0,180000.0,254700.0,16407.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.072508,-23946,365243,-6935.0,-3948,NaN,1,0,0,1,0,0,NaN,1.0,1,1,WEDNESDAY,16,0,0,0,0,0,0,XNA,NaN,0.458685,0.528093,0.3041,0.1854,0.9791,0.7144,...,0.7182,0.0000,0.32,0.2759,0.3333,0.0417,0.0000,0.2454,0.2861,0.0311,0.0092,reg oper account,block of flats,0.2230,Panel,No,0.0,0.0,0.0,0.0,-975.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0,1,0
1,18.0,100124,0.0,Cash loans,M,N,Y,0,225000.0,448272.0,28647.0,396000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.072508,-24051,365243,-7040.0,-4053,NaN,1,0,0,1,1,1,NaN,1.0,1,1,WEDNESDAY,17,0,0,0,0,0,0,XNA,NaN,0.710318,0.554947,0.2959,0.1785,0.9786,0.7076,...,0.7115,0.0000,0.32,0.2759,0.3333,0.3750,0.0000,0.2454,0.2741,0.0000,0.0062,reg oper account,block of flats,0.2131,Panel,No,0.0,0.0,0.0,0.0,-1080.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0,1,1
2,38.0,100955,0.0,Cash loans,F,N,Y,0,112500.0,101880.0,10053.0,90000.0,Unaccompanied,Pensioner,Lower secondary,Single / not married,House / apartment,0.030755,-22321,365243,-13611.0,-2523,NaN,1,0,0,1,0,0,NaN,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,XNA,NaN,0.664900,0.504681,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,1.0,-1012.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0,1,0
3,38.0,190916,NaN,Cash loans,F,N,Y,0,135000.0,238500.0,24565.5,238500.0,Unaccompanied,Pensioner,Lower secondary,Single / not married,House / apartment,0.030755,-22609,365243,-73.0,-2811,NaN,1,0,0,1,1,0,NaN,1.0,2,2,SATURDAY,10,0,0,0,0,0,0,XNA,0.279026,0.504692,0.466864,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1300.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0,1
4,40.0,178701,0.0,Revolving loans,F,N,Y,0,90000.0,270000.0,13500.0,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-16416,-1223,-2542.0,-4382,NaN,1,1,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,12,0,0,0,0,1,1,Business Entity Type 3,0.479804,0.514119,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1642.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
5,40.0,101020,NaN,Cash loans,F,N,Y,0,90000.0,332946.0,16146.0,238500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-16649,-1456,-2775.0,-192,NaN,1,1,0,1,0,0,NaN,2.0,2,2,FRIDAY,9,0,0,0,0,1,1,Business Entity Type 3,NaN,0.575513,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-1875.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
6,53.0,247772,0.0,Cash loans,F,N,Y,0,143100.0,729792.0,37260.0,630000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.010966,-21491,365243,-332.0,-86,NaN,1,0,0,1,0,0,NaN,2.0,2,2,THURSDAY,14,0,0,0,0,0,0,XNA,NaN,0.303433,0.634706,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1235.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
7,53.0,101243,NaN,Cash loans,F,N,Y,0,90000.0,314055.0,13329.0,238500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.010966,-21590,365243,-401.0,-185,NaN,1,0,0,1,0,0,NaN,2.0,2,2,FRIDAY,12,0,0,0,0,0,0,XNA,NaN,0.172657,0.659406,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,3.0,1.0,-1334.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,1
8,56.0,101475,0.0,Cash loans,F,N,N,0,67500.0,95940.0,9472.5,90000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.035792,-21991,365243,-7720.0,-4780,NaN,1,0,0,1,1,0,NaN,1.0,2,2,TUESDAY,9,0,0,0,0,0,0,XNA,NaN,0.569745,0.602386,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1833.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,1,0
9,56.0,130172,0.0,Cash loans,F,N,Y,0,45000.0,145557.0,7132.5,121500.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.035792,-22154,365243,-7913.0,-4943,NaN,1,0,0,1,0,0,NaN,1.0,2,2,THURSDAY,10,0,0,0,0,0,0,XNA,NaN,0.609567,0.350696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1996.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,1
10,69.0,101790,0.0,Cash loans,F,N,Y,0,135000.0,582228.0,17154.0,486000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.005313,-17479,365243,-10234.0,-1015,NaN,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,XNA,NaN,0.656749,0.554947,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-419.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,1,0
11,69.0,340385,NaN,Cash loans,F,N,Y,0,292500.0,231097.5,18387.0,175500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006207,-22056,365243,-4512.0,-5312,NaN,1,0,0,1,0,1,NaN,2.0,2,2,TUESDAY,15,0,0,0,0,0,0,XNA,NaN,0.554697,0.239226,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1252.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,9.0,0,1
12,125.0,103690,0.0,Cash loans,F,N,Y,0,90000.0,68760.0,2596.5,45000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.009657,-22517,365243,-3714.0,-4665,NaN,1,0,0,1,0,0,NaN,2.0,2,2,SUNDAY,10,0,0,0,0,0,0,XNA,NaN,0.620249,0.829750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-703.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,1,0
13,125.0,241943,NaN,Cash loans,F,N,Y,0,67500.0,172021.5,12991.5,148500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.030755,-23237,365243,-206.0,-4609,NaN,1,0,0,1,0,0,NaN,2.0,2,2,FRIDAY,10,0,0,0,0,0,0,XNA,0.759941,0.711311,0.761026,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1990.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0,1
14,125.0,442631,0.0,Cash loans,F,N,N,0,94500.0,312768.0,13905.0,270000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.019101,-23571,365243,-15940.0,-4130,NaN,1,0,0,1,0,0,NaN,2.0,2,2,SATURDAY,13,0,0,0,0,0,0,XNA,NaN,0.714069,0.429424,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1513.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,1,2
15,168.0,101044,0.0,Cash loans,F,N,Y,1,157500.0,1097676.0,32224.5,958500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.025164,-15085,-8508,-739.0,-2020,NaN,1,1,0,1,0,0,Laborers,3.0,2,2,TUESDAY,8,0,0,0,0,1,1,Industry: type 5,NaN,0.265256,0.735221,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,1,0
16,168.0,103341,0.0,Cash loans,F,N,Y,1,135000.0,339241.5,12312.0,238500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.025164,-15172,-8595,-826.0,-2107,NaN,1,1,0,1,0,0,Laborers,3.0,2,2,FRIDAY,11,0,0,0,0,1,1,Industry: type 5,NaN,0.263144,0.713631,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-87.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0,1,1
17,186.0,175892,NaN,Cash loans,F,N,Y,0,135000.0,597024.0,33466.5,540000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.030755,-21545,365243,-10349.0,-4705,NaN,1,0,0,1,0,0,NaN,2.0,2,2,FRIDAY,12,0,0,0,0,0,0,XNA,0.756023,0.451965,0.622922,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-683.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,0,0
18,186.0,105376,0.0,Cash loans,F,N,Y,0,162000.0,607500.0,26887.5,607500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.014520,-22299,365243,-2233.0,-2303,NaN,1,0,0,1,1,0,NaN,2.0,2,2,FRIDAY,10,0,0,0,0,0,0,XNA,0.547789,0.372422,0.709189,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,0.0,9.0,0.0,-1233.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,1
19,201.0,346825,0.0,Cash loans,F,Y,Y,0,67500.0,805072.5,29047.5,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.035792,-20990,365243,-6020.0,-4450,25.0,1,0,0,1,0,0,NaN,2.0,2,2,TUESDAY,12,0,0,0,0,0,0,XNA,0.283881,0.606143,0.477649,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1727.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,1,0
20,201.0,420192,0.0,Cash loans,F,N,Y,0,166500.0,339228.0,17451.0,243000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.008019,-21889,365243,-3102.0,-4216,NaN,1,0,0,1,0,0,NaN,2.0,2,2,TUESDAY,13,0,0,0,0,0,0,XNA,NaN,0.501434,0.411849,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-445.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,6.0,1,1
21,201.0,105965,NaN,Cash loans,F,N,Y,0,234000.0,314055.0,13329.0,238500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.035792,-23571,365243,-4623.0,-4628,NaN,1,0,0,1,0,0,NaN,2.0,2,2,TUESDAY,15,0,0,0,0,0,0,XNA,NaN,0.676461,0.689479,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2559.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,0,2
22,240.0,107153,0.0,Cash loans,M,Y,Y,1,157500.0,198000.0,9630.0,198000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.030755,-16388,365243,-2583.0,-4330,1.0,1,0,0,1,0,0,NaN,3.0,2,2,FRIDAY,13,0,0,0,0,0,0,XNA,NaN,0.467139,0.447179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2459.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,1,0
23,240.0,419583,0.0,Cash loans,M,N,N,0,114750.0,900000.0,26446.5,900000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.018850,-18615,365243,-6584.0,-2164,NaN,1,0,0,1,0,0,NaN,2.0,2,2,SATURDAY,13,0,0,0,0,0,0,XNA,NaN,0.418705,0.581484,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,3.0,0.0,-435.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,1
24,246.0,206946,0.0,Revolving loans,F,N,Y,3,112500.0,315000.0,15750.0,315000.0,Unaccompanied,Working,Incomplete higher,Married,House / apartment,0.010966,-13738,-5827,-5919.0,-4491,NaN,1,1,0,1,0,0,Cooking staff,5.0,2,2,FRIDAY,17,0,0,0,0,0,0,Kindergarten,NaN,0.129925,0.328063,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-44.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17469,19477.0,440336,NaN,Cash loans,F,N,Y,0,252000.0,838453.5,42939.0,688500.0,Unaccompanied,Working,Higher education,Civil marriage,House / apartment,0.010032,-18793,-11358,-3482.0,-2326,NaN,1,1,0,1,0,0,NaN,2.0,2,2,THURSDAY,6,0,0,0,0,0,0,Business Entity Type 2,NaN,0.686566,0.586740,0.0825,0.0802,0.9752,0.6600,...,0.6645,0.0277,0.00,0.1379,0.1667,0.2083,0.0745,0.0684,0.0652,0.0000,0.0000,reg oper account,block of flats,0.0648,"Stone, brick",No,3.0,2.0,3.0,2.0,-137.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0,2
17470,19478.0,456062,0.0,Cash loans,F,N,Y,0,135000.0,1056447.0,31018.5,922500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.004960,-22122,365243,-7997.0,-4703,NaN,1,0,0,1,0,0,NaN,2.0,2,2,MONDAY,14,0,0,0,0,0,0,XNA,0.793389,0.747837,0.746300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,3.0,0.0,-747.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,1,0
17471,19478.0,236302,NaN,Cash loans,F,N,Y,0,135000.0,474444.0,18013.5,310500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.004960,-22332,365243,-8207.0,-4913,NaN,1,0,0,1,0,0,NaN,2.0,2,2,MONDAY,12,0,0,0,0,0,0,XNA,0.627384,0.658738,0.754406,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0,1
17472,19479.0,161667,0.0,Cash loans,F,Y,Y,0,180000.0,1006920.0,39933.0,900000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006629,-18776,365243,-1886.0,-2313,11.0,1,0,0,1,1,0,NaN,2.0,2,2,FRIDAY,5,0,0,0,0,0,0,XNA,NaN,0.685153,0.431192,0.0454,0.0000,0.9901,0.9864,...,0.9866,0.0155,0.04,0.0345,0.2917,0.3333,0.0099,0.0355,0.0457,0.0194,0.0624,reg oper account,block of flats,0.0521,Block,No,1.0,0.0,1.0,0.0,-1536.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,0
17473,19479.0,456070,0.0,Cash loans,F,Y,N,0,180000.0,840996.0,24718.5,702000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.006629,-18800,-4699,-1910.0,-2337,11.0,1,1,0,1,0,0,Managers,2.0,2,2,MONDAY,10,0,0,0,0,0,0,Self-employed,NaN,0.350089,0.265049,0.0454,0.0000,0.9901,0.9864,...,0.9866,0.0155,0.04,0.0345,0.2917,0.3333,0.0099,0.0355,0.0457,0.0194,0.0624,reg oper account,block of flats,0.0521,Block,No,0.0,0.0,0.0,0.0,-1560.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,1
17474,19480.0,456077,0.0,Cash loans,F,N,Y,0,67500.0,143910.0,14364.0,135000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.030755,-22355,365243,-2200.0,-3765,NaN,1,0,0,1,0,0,NaN,2.0,2,2,FRIDAY,10,0,0,0,0,0,0,XNA,0.702671,0.111986,0.641368,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-734.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
17475,19480.0,248526,NaN,Cash loans,F,N,Y,0,67500.0,157500.0,11902.5,157500.0,Family,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.030755,-22585,365243,-2430.0,-3995,NaN,1,0,0,1,0,0,NaN,2.0,2,2,THURSDAY,9,0,0,0,0,0,0,XNA,0.667471,0.004513,0.574447,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-964.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0,1
17476,19481.0,296995,0.0,Cash loans,F,N,Y,0,63000.0,152820.0,14418.0,135000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.003069,-16557,-1277,-810.0,-99,NaN,1,1,0,1,0,0,Sales staff,2.0,3,3,WEDNESDAY,12,0,0,0,0,0,0,Self-employed,NaN,NaN,0.853731,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-426.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,0
17477,19481.0,456100,0.0,Revolving loans,F,N,Y,0,63000.0,135000.0,6750.0,135000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.003069,-16557,-1277,-810.0,-99,NaN,1,1,0,1,0,0,Sales staff,2.0,3,3,WEDNESDAY,12,0,0,0,0,0,0,Self-employed,NaN,0.472924,0.853731,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-426.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,1
17478,19482.0,227746,0.0,Cash loans,M,N,N,0,90000.0,314100.0,16573.5,225000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.003069,-20042,-2455,-8616.0,-3443,NaN,1,1,0,1,0,0,Drivers,2.0,3,3,THURSDAY,18,0,0,0,0,0,0,Business Entity Type 2,NaN,0.695752,0.758393,0.0742,0.0555,0.9841,NaN,...,NaN,NaN,0.08,0.0690,0.3333,NaN,0.0342,NaN,0.0461,NaN,1.0000,NaN,block of flats,0.0589,Panel,No,1.0,0.0,1.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
17479,19482.0,456109,0.0,Revolving loans,M,N,N,0,180000.0,270000.0,13500.0,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.003069,-20224,-2637,-8798.0,-3625,NaN,1,1,0,1,0,0,Drivers,2.0,3,3,THURSDAY,15,0,0,0,0,0,0,Business Entity Type 2,NaN,0.674328,0.719491,0.0742,0.0555,0.9836,NaN,...,NaN,NaN,0.08,0.0690,0.3333,NaN,0.0342,NaN,0.0461,NaN,1.0000,NaN,block of flats,0.0589,Panel,No,1.0,0.0,1.0,0.0,-1922.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,1
17480,19483.0,155343,0.0,Cash loans,F,N,N,1,90000.0,490500.0,14472.0,490500.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.018209,-20575,365243,-11983.0,-4114,NaN,1,0,0,1,0,0,NaN,2.0,3,3,WEDNESDAY,14,0,0,0,0,0,0,XNA,NaN,0.335201,0.581484,0.0835,0.0295,0.9831,0.7688,...,0.7719,0.0000,0.00,0.0345,0.1667,0.2083,0.0326,0.0676,0.0291,0.0078,0.0167,reg oper account,block of flats,0.0260,"Stone, brick",No,4.0,0.0,4.0,0.0,-1553.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,1,0
17481,19483.0,456150,0.0,Cash loans,F,N,N,0,90000.0,270000.0,16645.5,270000.0,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,0.018209,-20768,365243,-12176.0,-4307,NaN,1,0,0,1,0,0,NaN,1.0,3,3,SUNDAY,7,0,0,0,0,0,0,XNA,NaN,0.319830,0.617826,0.0835,0.0295,0.9826,0.7620,...,0.7652,0.0000,0.00,0.0345,0.1667,0.2083,0.0326,0.0676,0.0291,0.0078,0.0167,reg oper account,block of flats,0.0260,"Stone, brick",No,4.0,0.0,4.0,0.0,-1746.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0,1,1

# Forwards

In [6]:
dup[dup.SK_ID_CURR==100041]

,user_id,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,...,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,seq
1132,4402.0,100041,0.0,Cash loans,F,N,N,0,112500.0,450000.0,44509.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.008575,-12158,-1275,-6265.0,-2009,NaN,1,1,1,1,1,0,Sales staff,2.0,2,2,MONDAY,19,0,0,0,0,0,0,Self-employed,NaN,0.663158,0.678568,0.0948,0.0792,0.9861,0.8096,...,0.8121,NaN,0.0,0.1724,0.1667,NaN,0.0903,NaN,0.0592,NaN,NaN,reg oper account,block of flats,0.0749,"Stone, brick",No,0.0,0.0,0.0,0.0,-1285.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0

In [7]:
dup[dup.SK_ID_CURR==181102]

,user_id,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,...,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,seq
1133,4402.0,181102,0.0,Cash loans,F,Y,N,0,67500.0,302076.0,23508.0,270000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.008575,-12395,-1146,-6502.0,-2246,14.0,1,1,0,1,1,1,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,NaN,0.664866,0.551381,0.0948,0.0792,0.9856,0.8028,...,0.8054,NaN,0.0,0.1724,0.1667,NaN,0.0903,NaN,0.0592,NaN,NaN,reg oper account,block of flats,0.0749,"Stone, brick",No,2.0,0.0,2.0,0.0,-1522.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,1,1

In [8]:
prev[prev.SK_ID_CURR==100041]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1133178,1786922,100041,Consumer loans,3268.485,15516.0,16285.5,0.0,15516.0,THURSDAY,12,Y,1,0.0,NaN,NaN,XAP,Approved,-2701,Cash through the bank,XAP,Family,New,Mobile,POS,XNA,Country-wide,156,Connectivity,6.0,high,POS mobile with interest,365243.0,-2670.0,-2520.0,-2520.0,-2509.0,1.0
1546899,2305060,100041,Consumer loans,7297.515,58486.5,64278.0,0.0,58486.5,SUNDAY,14,Y,1,0.0,NaN,NaN,XAP,Approved,-1508,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,4000,Consumer electronics,12.0,high,POS household with interest,365243.0,-1477.0,-1147.0,-1147.0,-1095.0,0.0

In [9]:
prev[prev.SK_ID_CURR==181102]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
800131,1561592,181102,Consumer loans,7297.515,58486.5,64278.0,0.0,58486.5,SUNDAY,14,Y,1,0.0,NaN,NaN,XAP,Approved,-1745,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,4000,Consumer electronics,12.0,high,POS household with interest,365243.0,-1714.0,-1384.0,-1384.0,-1332.0,0.0
124560,1272122,181102,Cash loans,44509.500,450000.0,450000.0,NaN,450000.0,MONDAY,19,Y,1,NaN,NaN,NaN,XNA,Approved,-237,XNA,XAP,Unaccompanied,Refreshed,XNA,Cash,x-sell,Contact center,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-207.0,123.0,365243.0,365243.0,0.0
1206352,1524441,181102,Revolving loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,14,Y,1,NaN,NaN,NaN,XAP,Canceled,-153,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
col_num = prev.select_dtypes(exclude='O').columns.tolist()
col_cat = prev.select_dtypes('O').columns.tolist()

In [11]:
date_feature = ['DAYS_DECISION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
               'DAYS_LAST_DUE', 'DAYS_TERMINATION']

keys = ['NAME_CONTRACT_TYPE', 'AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT', 
        'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE', 'WEEKDAY_APPR_PROCESS_START', 
        'HOUR_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
        'RATE_DOWN_PAYMENT', 'NAME_CONTRACT_STATUS', 'NAME_TYPE_SUITE', 'PRODUCT_COMBINATION']

In [12]:
for c in date_feature:
    col_num.remove(c)

In [13]:
prev[col_num] = prev[col_num].fillna(-1) # awful 
prev[col_cat] = prev[col_cat].fillna('-NA-')

In [14]:
prev[prev.SK_ID_CURR==181102]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
800131,1561592,181102,Consumer loans,7297.515,58486.5,64278.0,0.0,58486.5,SUNDAY,14,Y,1,0.0,-1.0,-1.0,XAP,Approved,-1745,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,4000,Consumer electronics,12.0,high,POS household with interest,365243.0,-1714.0,-1384.0,-1384.0,-1332.0,0.0
124560,1272122,181102,Cash loans,44509.500,450000.0,450000.0,-1.0,450000.0,MONDAY,19,Y,1,-1.0,-1.0,-1.0,XNA,Approved,-237,XNA,XAP,Unaccompanied,Refreshed,XNA,Cash,x-sell,Contact center,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-207.0,123.0,365243.0,365243.0,0.0
1206352,1524441,181102,Revolving loans,-1.000,0.0,0.0,-1.0,-1.0,WEDNESDAY,14,Y,1,-1.0,-1.0,-1.0,XAP,Canceled,-153,XNA,XAP,-NA-,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,-1.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,-1.0

## Clean Up prev

In [15]:
def forwards(args):
    start_ix, last_ix = args
    li = []
    curr_id_bk, seq_bk, day_bk = None, None, None
    for i in range(start_ix, last_ix):
        curr_id, seq, day = dup.iloc[i, 1], dup.iloc[i, -1], dup.iloc[i, 18] 
        if seq ==0:
            curr_id_bk, seq_bk, day_bk = curr_id, seq, day
            continue
        else:
            day_diff = day - day_bk
            
            if day_diff==0:
                curr_id_bk, seq_bk, day_bk = curr_id, seq, day
                continue
            
            prev_bk = prev[prev.SK_ID_CURR==curr_id_bk]
            prev_bk['SK_ID_CURR'] = curr_id
            for c in date_feature:
                prev_bk.loc[prev[c]!=365243, c] += day_diff
            
            prev_cur = prev[prev.SK_ID_CURR==curr_id]
            
            # ==== augmentation ====
            a = prev_bk.groupby(keys).size()
            a.name = 'a'
            b = prev_cur.groupby(keys).size()
            b.name = 'b'
            
            tmp = pd.concat([a, b], axis=1, join='outer')
            tmp[['a', 'b']] = tmp[['a', 'b']].fillna(0)
            tmp['need'] = tmp['a'] - tmp['b']
            
            base = tmp[tmp.need>0][['need']]
            
            aug = pd.DataFrame()
            while base.shape[0] > 0:
                aug = aug.append(base.drop('need', axis=1))
                
                base.need -= 1
                base = base[base.need>0]
            
            if aug.shape[0]==0:
                df = pd.DataFrame()
            else:
                df = pd.merge(aug.reset_index(), prev_bk, on=keys, how='left' )
                df = pd.concat([df, prev_cur])
            # ==== augmentation end ====
            
            
            li.append(df)
        
        curr_id_bk, seq_bk, day_bk = curr_id, seq, day
        
    return li

In [16]:
pd.concat(forwards((0, 2)))

Empty DataFrame
Columns: []
Index: []

In [17]:
argmin = dup.groupby('user_id').seq.apply(np.argmin)
argmax = dup.groupby('user_id').seq.apply(np.argmax)
argmax +=1

argss = list(zip(argmin.values, argmax.values ))

In [18]:
pool = Pool(NTHREAD)
callback = pool.map(forwards, argss)
pool.close()

In [19]:
callback2 = sum( callback , [])

In [20]:
prev_cleaned = pd.concat(callback2)

In [21]:
prev_cleaned_id = prev_cleaned.SK_ID_CURR.tolist()

In [22]:
prev_ = prev[~prev.SK_ID_CURR.isin(prev_cleaned_id)]

In [23]:
prev_new = pd.concat([prev_cleaned, prev_], ignore_index=True)

## check

In [24]:
prev.SK_ID_CURR.unique().shape, prev_new.SK_ID_CURR.unique().shape

((338857,), (338857,))

In [25]:
prev.SK_ID_PREV.unique().shape, prev_new.SK_ID_PREV.unique().shape

((1670214,), (1670214,))

In [26]:
prev[~prev.SK_ID_PREV.isin(prev_new.SK_ID_PREV)]

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR, NAME_CONTRACT_TYPE, AMT_ANNUITY, AMT_APPLICATION, AMT_CREDIT, AMT_DOWN_PAYMENT, AMT_GOODS_PRICE, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, FLAG_LAST_APPL_PER_CONTRACT, NFLAG_LAST_APPL_IN_DAY, RATE_DOWN_PAYMENT, RATE_INTEREST_PRIMARY, RATE_INTEREST_PRIVILEGED, NAME_CASH_LOAN_PURPOSE, NAME_CONTRACT_STATUS, DAYS_DECISION, NAME_PAYMENT_TYPE, CODE_REJECT_REASON, NAME_TYPE_SUITE, NAME_CLIENT_TYPE, NAME_GOODS_CATEGORY, NAME_PORTFOLIO, NAME_PRODUCT_TYPE, CHANNEL_TYPE, SELLERPLACE_AREA, NAME_SELLER_INDUSTRY, CNT_PAYMENT, NAME_YIELD_GROUP, PRODUCT_COMBINATION, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL]
Index: []

In [27]:
prev_new[prev_new.SK_ID_CURR==181102]

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,CHANNEL_TYPE,CNT_PAYMENT,CODE_REJECT_REASON,DAYS_DECISION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_TERMINATION,FLAG_LAST_APPL_PER_CONTRACT,HOUR_APPR_PROCESS_START,NAME_CASH_LOAN_PURPOSE,NAME_CLIENT_TYPE,NAME_CONTRACT_STATUS,NAME_CONTRACT_TYPE,NAME_GOODS_CATEGORY,NAME_PAYMENT_TYPE,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,NAME_SELLER_INDUSTRY,NAME_TYPE_SUITE,NAME_YIELD_GROUP,NFLAG_INSURED_ON_APPROVAL,NFLAG_LAST_APPL_IN_DAY,PRODUCT_COMBINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,SELLERPLACE_AREA,SK_ID_CURR,SK_ID_PREV,WEEKDAY_APPR_PROCESS_START
1696,3268.485,15516.0,16285.5,0.0,15516.0,Country-wide,6.0,XAP,-2938,365243.0,-2907.0,-2757.0,-2757.0,-2746.0,Y,12,XAP,New,Approved,Consumer loans,Mobile,Cash through the bank,POS,XNA,Connectivity,Family,high,1.0,1,POS mobile with interest,0.0,-1.0,-1.0,156,181102,1786922,THURSDAY
1697,7297.515,58486.5,64278.0,0.0,58486.5,Country-wide,12.0,XAP,-1745,365243.0,-1714.0,-1384.0,-1384.0,-1332.0,Y,14,XAP,Refreshed,Approved,Consumer loans,Consumer Electronics,Cash through the bank,POS,XNA,Consumer electronics,Family,high,0.0,1,POS household with interest,0.0,-1.0,-1.0,4000,181102,1561592,SUNDAY
1698,44509.500,450000.0,450000.0,-1.0,450000.0,Contact center,12.0,XAP,-237,365243.0,-207.0,365243.0,123.0,365243.0,Y,19,XNA,Refreshed,Approved,Cash loans,XNA,XNA,Cash,x-sell,XNA,Unaccompanied,middle,0.0,1,Cash X-Sell: middle,-1.0,-1.0,-1.0,-1,181102,1272122,MONDAY
1699,-1.000,0.0,0.0,-1.0,-1.0,Credit and cash offices,-1.0,XAP,-153,NaN,NaN,NaN,NaN,NaN,Y,14,XAP,Repeater,Canceled,Revolving loans,XNA,XNA,XNA,XNA,XNA,-NA-,XNA,-1.0,1,Card Street,-1.0,-1.0,-1.0,-1,181102,1524441,WEDNESDAY

# merge with clean prev

In [28]:
prev = pd.read_csv('../input/previous_application.csv.zip')
col = prev.columns.tolist()
prev.drop(['SK_ID_CURR']+date_feature, axis=1, inplace=True)

In [29]:
prev_new_base = prev_new[['SK_ID_PREV', 'SK_ID_CURR']+date_feature]

In [30]:
prev_new_base.shape

(1671673, 8)

In [31]:
prev.shape

(1670214, 30)

In [32]:
prev_new2 = pd.merge(prev_new_base, prev, on='SK_ID_PREV', how='left')[col]

In [33]:
prev_new2

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2821489,340385,Cash loans,9109.485,90000.0,95940.0,NaN,90000.0,THURSDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-4821,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-4791.0,-4461.0,365243.0,365243.0,1.0
1,1940786,340385,Consumer loans,7969.320,60525.0,42367.5,18157.5,60525.0,THURSDAY,11,Y,1,0.326727,NaN,NaN,XAP,Approved,-4996,Cash through the bank,XAP,NaN,New,Furniture,POS,XNA,Stone,30,Furniture,6.0,middle,POS industry with interest,365243.0,-4952.0,-4802.0,-4802.0,-4797.0,0.0
2,2559483,340385,Cash loans,12185.370,229500.0,266760.0,NaN,229500.0,WEDNESDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-1252,Cash through the bank,XAP,Other_A,Refreshed,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,36.0,middle,Cash X-Sell: middle,365243.0,-1222.0,-172.0,-1102.0,-1094.0,1.0
3,2078085,340385,Cash loans,14312.880,270000.0,313839.0,NaN,270000.0,TUESDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-644,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,36.0,middle,Cash X-Sell: middle,365243.0,-614.0,436.0,365243.0,365243.0,1.0
4,2553803,340385,Revolving loans,2250.000,45000.0,45000.0,NaN,45000.0,THURSDAY,14,Y,1,NaN,NaN,NaN,XAP,Approved,-432,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,walk-in,Credit and cash offices,-1,XNA,0.0,XNA,Card Street,365243.0,365243.0,365243.0,365243.0,365243.0,0.0
5,1203723,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,14,Y,1,NaN,NaN,NaN,XNA,Canceled,-432,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
6,2492530,340385,Cash loans,4266.225,99000.0,125136.0,NaN,99000.0,THURSDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-432,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,48.0,low_normal,Cash X-Sell: low,365243.0,-402.0,1008.0,365243.0,365243.0,1.0
7,2071598,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,14,Y,1,NaN,NaN,NaN,XNA,Canceled,-432,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2358616,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,12,Y,1,NaN,NaN,NaN,XNA,Refused,-412,XNA,HC,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2787081,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,13,Y,1,NaN,NaN,NaN,XNA,Refused,-410,XNA,HC,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
10,1178888,340385,Cash loans,29134.935,828000.0,991944.0,NaN,828000.0,SATURDAY,15,Y,1,NaN,NaN,NaN,XNA,Refused,-213,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
11,2656406,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,Y,1,NaN,NaN,NaN,XNA,Canceled,-213,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
12,1917375,340385,Cash loans,29450.205,837000.0,1002726.0,NaN,837000.0,WEDNESDAY,13,Y,1,NaN,NaN,NaN,XNA,Refused,-181,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
13,2222764,340385,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,13,Y,1,NaN,NaN,NaN,XNA,Canceled,-181,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
14,2634481,241943,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,14,Y,1,NaN,NaN,NaN,XNA,Canceled,-943,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
15,1209958,241943,Cash loans,24908.085,697500.0,793251.0,NaN,697500.0,MONDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-943,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,48.0,low_normal,Cash X-Sell: low,365243.0,-913.0,497.0,365243.0,365243.0,1.0
16,2223052,241943,Consumer loans,3411.270,30033.9,30033.9,0.0,30033.9,SATURDAY,15,Y,1,0.000000,NaN,NaN,XAP,Refused,-798,Cash through the bank,HC,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,10.0,low_normal,POS mobile without interest,NaN,NaN,NaN,NaN,NaN,NaN
17,1796943,241943,Consumer loans,15036.120,134946.0,149197.5,0.0,134946.0,THURSDAY,15,Y,1,0.000000,NaN,NaN,XAP,Approved,-1423,Cash through the bank,XAP,Family,New,Audio/Video,POS,XNA,Country-wide,2100,Consumer electronics,12.0,middle,POS household with interest,365243.0,-1392.0,-1062.0,-1062.0,-1056.0,0.0
18,1033091,241943,Consumer loans,4594.050,42448.5,41350.5,4248.0,42448.5,SATURDAY,11,Y,1,0.101461,NaN,NaN,XAP,Approved,-2778,Cash through the bank,XAP,Family,New,Consumer Electronics,POS,XNA,Country-wide,95,Consumer electronics,10.0,low_normal,POS household without interest,365243.0,-2744.0,-2474.0,-2474.0,-2469.0,1.0
19,2608351,241943,Consumer loans,5920.650,41503.5,39816.0,4153.5,41503.5,WEDNESDAY,14,Y,1,0.102879,NaN,NaN,XAP,Approved,-1990,Cash through the bank,XAP,NaN,Repeater,Audio/Video,POS,XNA,Country-wide,95,Consumer electronics,8.0,middle,POS household with interest,365243.0,-1936.0,-1726.0,-1726.0,-1720.0,0.0
20,1895796,241943,Consumer loans,6911.370,51745.5,50670.0,5175.0,51745.5,WEDNESDAY,10,Y,1,0.100923,NaN,NaN,XAP,Approved,-1248,Cash through the bank,XAP,Family,Repeater,Mobile,POS,XNA,Country-wide,30,Connectivity,10.0,high,POS mobile with interest,365243.0,-1217.0,-947.0,-947.0,-935.0,0.0
21,2785070,241943,Consumer loans,12807.135,124105.5,137209.5,0.0,124105.5,SATURDAY,13,Y,1,0.000000,NaN,NaN,XAP,Approved,-566,Cash through the bank,XAP,NaN,Repeater,Consumer Electronics,POS,XNA,Regional / Local,100,Consumer electronics,12.0,low_normal,POS household with interest,365243.0,-535.0,-205.0,-205.0,-201.0,0.0
22,1050559,241943,Cash loans,5405.850,90000.0,101880.0,NaN,90000.0,MONDAY,14,Y,1,NaN,NaN,NaN,XNA,Approved,-424,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,24.0,low_normal,Cash X-Sell: low,365243.0,-394.0,296.0,365243.0,365243.0,1.0
23,1345633,241943,Revolving loans,NaN,0.0,0.0,NaN,NaN,MONDAY,14,Y,1,NaN,NaN,NaN,XAP,Canceled,-424,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
24,1797083,241943,Revolving loans,6750.000,135000.0,135000.0,NaN,135000.0,MONDAY,14,Y,1,NaN,NaN,NaN,XAP,Approved,-424,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,365243.0,365243.0,365243.0,365243.0,365243.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671648,1458662,101765,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,14,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671649,1145009,390899,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671650,1896812,422303,Consumer loans,12019.320,244935.0,231435.0,13500.0,244935.0,MONDAY,12,Y,1,0.060027,NaN,NaN,XAP,Approved,-2,Cash through the bank,XAP,Unaccompanied,Refreshed,Furniture,POS,XNA,Country-wide,100,Furniture,30.0,middle,POS industry with interest,365243.0,365243.0,898.0,365243.0,365243.0,0.0
1671651,1098471,181514,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671652,1774966,209878,Consumer loans,4332.915,42930.0,42930.0,0.0,42930.0,MONDAY,18,Y,1,0.000000,0.182818,0.867336,XAP,Approved,-2,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,66,Connectivity,12.0,middle,POS mobile with interest,365243.0,365243.0,373.0,365243.0,365243.0,0.0
1671653,2602942,413027,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671654,1637036,349592,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,6,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671655,2351954,390899,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671656,2303131,338537,Revolving loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,12,Y,1,NaN,NaN,NaN,XAP,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Contact center,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
1671657,1766905,303675,Consumer loans,14994.270,129789.0,141210.0,0.0,129789.0,SUNDAY,8,Y,1,0.000000,NaN,NaN,XAP,Approved,-2,Cash through the bank,XAP,Unaccompanied,Refreshed,Furniture,POS,XNA,Regional / Local,100,Furniture,10.0,low_action,POS industry without interest,365243.0,365243.0,298.0,365243.0,365243.0,1.0
1671658,2521350,282609,Revolving loans,2250.000,45000.0,45000.0,NaN,45000.0,SUNDAY,10,Y,1,NaN,NaN,NaN,XAP,Refused,-2,XNA,HC,Family,Repeater,XNA,Cards,walk-in,Country-wide,250,Consumer electronics,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
1671659,2461214,112587,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,12,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Refreshed,XNA,XNA,XNA,Credit and cash offices,0,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671660,1296824,154724,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,12,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671661,2815494,259311,Cash loans,45205.605,1350000.0,1546020.0,NaN,1350000.0,TUESDAY,19,Y,1,NaN,NaN,NaN,XNA,Refused,-2,XNA,SCO,"Spouse, partner",Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
1671662,2545676,110392,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,12,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671663,2472603,417284,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,9,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671664,1512666,224274,Cash loans,26316.000,900000.0,900000.0,NaN,900000.0,WEDNESDAY,17,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
1671665,2625473,292727,Cash loans,34465.500,675000.0,675000.0,NaN,675000.0,SATURDAY,10,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN
1671666,1419863,418547,Consumer loans,7084.035,58261.5,58261.5,0.0,58261.5,SUNDAY,9,Y,1,0.000000,NaN,NaN,XAP,Approved,-2,XNA,XAP,NaN,Repeater,Computers,POS,XNA,Country-wide,26,Connectivity,12.0,high,POS mobile with interest,NaN,NaN,NaN,NaN,NaN,NaN
1671667,2608663,330701,Revolving loans,10125.000,202500.0,202500.0,NaN,202500.0,SATURDAY,12,Y,1,NaN,NaN,NaN,XAP,Approved,-2,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,NaN,NaN,NaN,NaN,NaN,NaN
1671668,1757999,153920,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-2,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1671669,2046118,392585,Consumer loans,5493.645,121945.5,121945.5,0.0,121945.5,SATURDAY,13,Y,1,0.000000,NaN,NaN,XAP,Approved,-2,Cash through the bank,XAP,Unaccompanied,Repeater,Computers,POS,XNA,Country-wide,1200,Consumer electronics,24.0,low_action,POS household without interest,365243.0,365243.0,718.0,365243.0,365243.0,0.0
1671670,1161896,290295,Consumer loans,3522.105,60831.0,75285.0,0.0,60831.0,SUNDAY,20,Y,1,0.000000,NaN,NaN,XAP,Approved,-2,Cash through the bank,XAP,Children,Repeater,Consumer Electronics,POS,XNA,Country-wide,6000,Consumer electronics,24.0,low_action,POS household without interest,365243.0,365243.0,718.0,365243.0,365243.0,1.0
1671671,1332045,369722,Consumer loans,22630.680,128250.0,128250.0,0.0,128250.0,SUNDAY,19,Y,1,0.000000,NaN,NaN,XAP,Approved,-1,Cash through the bank,XAP,Family,Repeater,Furniture,POS,XNA,Country-wide,25,Furniture,6.0,low_action,POS industry without interest,365243.0,365243.0,179.0,365243.0,365243.0,0.0
1671672,1086988,446450,Consumer loans,8755.155,81801.0,81801.0,0.0,81801.0,MONDAY,16,Y,1,0.000000,NaN,NaN,XAP,Approved,-1,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,28,Connectivity,14.0,high,POS mobile with interest,365243.0,365243.0,426.0,365243.0,365243.0,0.0

In [34]:
prev_new2[prev_new2.SK_ID_CURR==181102]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1696,1786922,181102,Consumer loans,3268.485,15516.0,16285.5,0.0,15516.0,THURSDAY,12,Y,1,0.0,NaN,NaN,XAP,Approved,-2938,Cash through the bank,XAP,Family,New,Mobile,POS,XNA,Country-wide,156,Connectivity,6.0,high,POS mobile with interest,365243.0,-2907.0,-2757.0,-2757.0,-2746.0,1.0
1697,1561592,181102,Consumer loans,7297.515,58486.5,64278.0,0.0,58486.5,SUNDAY,14,Y,1,0.0,NaN,NaN,XAP,Approved,-1745,Cash through the bank,XAP,Family,Refreshed,Consumer Electronics,POS,XNA,Country-wide,4000,Consumer electronics,12.0,high,POS household with interest,365243.0,-1714.0,-1384.0,-1384.0,-1332.0,0.0
1698,1272122,181102,Cash loans,44509.500,450000.0,450000.0,NaN,450000.0,MONDAY,19,Y,1,NaN,NaN,NaN,XNA,Approved,-237,XNA,XAP,Unaccompanied,Refreshed,XNA,Cash,x-sell,Contact center,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-207.0,123.0,365243.0,365243.0,0.0
1699,1524441,181102,Revolving loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,14,Y,1,NaN,NaN,NaN,XAP,Canceled,-153,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN

# output

In [35]:
prev_new2.to_csv('../data/prev_forwards_v3.csv.gz', index=False, compression='gzip')