In [1]:
import pandas as pd

In [2]:
dup = pd.read_csv('same_user_all.csv.gz')
sub = pd.read_csv('stochastic_blending_v3-2_0.308rk7_0.431mw1_0.261t1_0.81050CV_0.3Adv.csv')

In [3]:
dup_id_test = dup[dup.is_train==0].dup_id

In [4]:
dup_test = dup[dup.dup_id.isin(dup_id_test)]

In [5]:
dup_test.groupby('dup_id').TARGET.mean().describe()

count    1600.000000
mean        0.024063
std         0.152780
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: TARGET, dtype: float64

In [6]:
dup_id_test_t0 = dup_test[dup_test.TARGET==0].dup_id
dup_id_test_t1 = dup_test[dup_test.TARGET==1].dup_id

In [7]:
dup[dup.dup_id.isin(dup_id_test_t0)][dup.is_train==0]

/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,DAYS_BIRTH-m-DAYS_REGISTRATION,DAYS_REGISTRATION-m-DAYS_ID_PUBLISH,DAYS_ID_PUBLISH-m-DAYS_EMPLOYED,dup_cnt,dup_id
29,337039,NaN,Cash loans,F,N,Y,0,225000.0,222768.0,16785.0,...,0.0,0.0,0.0,3.0,0,-21327.0,4065.0,-2883,2,14
53,128516,NaN,Cash loans,F,N,Y,0,202500.0,272520.0,15772.5,...,0.0,0.0,0.0,4.0,0,-20723.0,2073.0,5075,2,26
69,147294,NaN,Cash loans,M,N,Y,0,193500.0,202500.0,13662.0,...,0.0,0.0,0.0,5.0,0,-20251.0,3382.0,1682,2,34
83,286683,NaN,Cash loans,F,N,Y,0,72000.0,373500.0,22977.0,...,0.0,0.0,0.0,3.0,0,-19966.0,3042.0,-2160,2,41
91,303083,NaN,Cash loans,M,Y,Y,0,225000.0,178213.5,16474.5,...,0.0,0.0,0.0,0.0,0,-19896.0,2904.0,-25,2,45
93,141114,NaN,Cash loans,M,Y,N,0,180000.0,328405.5,26077.5,...,0.0,0.0,0.0,4.0,0,-19857.0,1664.0,-1703,2,46
99,238419,NaN,Cash loans,M,Y,Y,0,225000.0,790830.0,62482.5,...,0.0,0.0,1.0,1.0,0,-19833.0,2682.0,728,2,49
107,319192,NaN,Cash loans,F,N,Y,0,270000.0,1483650.0,61357.5,...,0.0,0.0,0.0,3.0,0,-19769.0,3319.0,1065,2,53
111,165171,NaN,Cash loans,M,Y,Y,0,90000.0,45000.0,4846.5,...,0.0,0.0,1.0,5.0,0,-19725.0,105.0,-864,2,55
113,190489,NaN,Cash loans,M,N,Y,0,177750.0,177768.0,11488.5,...,NaN,NaN,NaN,NaN,0,-19685.0,2849.0,-3169,2,56
117,345999,NaN,Cash loans,F,N,Y,0,292500.0,745429.5,32962.5,...,0.0,0.0,0.0,4.0,0,-19587.0,2911.0,618,2,58
121,197191,NaN,Cash loans,F,Y,Y,0,360000.0,810000.0,51763.5,...,0.0,0.0,0.0,6.0,0,-19519.0,3030.0,5811,2,60
131,407069,NaN,Cash loans,M,Y,Y,0,180000.0,177768.0,13063.5,...,0.0,0.0,1.0,0.0,0,-19412.0,2927.0,-330,2,65
137,129939,NaN,Cash loans,F,N,Y,0,157500.0,52128.0,5602.5,...,0.0,0.0,1.0,6.0,0,-19343.0,37.0,759,2,68
141,376354,NaN,Cash loans,F,Y,Y,0,157500.0,254799.0,20259.0,...,0.0,0.0,0.0,3.0,0,-19334.0,2681.0,-2809,2,70
147,419788,NaN,Cash loans,M,N,N,0,225000.0,450000.0,32746.5,...,NaN,NaN,NaN,NaN,0,-19310.0,14.0,2606,2,73
153,273429,NaN,Cash loans,F,N,Y,0,112500.0,189000.0,9778.5,...,0.0,0.0,0.0,2.0,0,-19279.0,2841.0,564,2,76
171,115705,NaN,Cash loans,M,N,Y,0,225000.0,296505.0,27324.0,...,0.0,0.0,0.0,0.0,0,-19142.0,267.0,-292,2,85
173,304483,NaN,Cash loans,F,N,Y,0,135000.0,479700.0,50503.5,...,0.0,0.0,0.0,2.0,0,-19115.0,2378.0,-2389,2,86
175,417778,NaN,Cash loans,F,Y,Y,0,270000.0,675000.0,28728.0,...,0.0,0.0,0.0,0.0,0,-19114.0,0.0,-1579,2,87
179,424262,NaN,Cash loans,F,N,Y,0,202500.0,350181.0,34762.5,...,0.0,0.0,1.0,3.0,0,-19106.0,2542.0,-481,2,89
187,199424,NaN,Cash loans,F,N,Y,0,153000.0,296280.0,15255.0,...,0.0,0.0,0.0,8.0,0,-19034.0,2580.0,-1946,2,93
189,259228,NaN,Cash loans,F,N,N,0,270000.0,1062000.0,38277.0,...,0.0,0.0,0.0,4.0,0,-19024.0,2545.0,-1240,2,94
191,267581,NaN,Cash loans,M,Y,N,2,247500.0,1071000.0,34677.0,...,NaN,NaN,NaN,NaN,0,-18982.0,2532.0,-2680,2,95
207,263479,NaN,Cash loans,M,Y,Y,0,157500.0,382500.0,19660.5,...,0.0,0.0,0.0,7.0,0,-18916.0,2454.0,-1527,2,103
213,308919,NaN,Cash loans,M,Y,Y,0,202500.0,457312.5,29353.5,...,0.0,0.0,0.0,2.0,0,-18866.0,2392.0,4510,2,106
223,320412,NaN,Cash loans,M,N,Y,0,90000.0,756504.0,24534.0,...,0.0,0.0,1.0,1.0,0,-18812.0,1285.0,4368,2,111
229,230122,NaN,Cash loans,M,N,Y,0,202500.0,320922.0,38214.0,...,0.0,0.0,1.0,6.0,0,-18788.0,2345.0,-129,2,114
245,292267,NaN,Cash loans,F,N,Y,0,202500.0,324000.0,20704.5,...,0.0,0.0,1.0,3.0,0,-18694.0,0.0,-727,2,122
261,312997,NaN,Cash loans,M,Y,Y,0,225000.0,797818.5,40864.5,...,0.0,0.0,0.0,3.0,0,-18636.0,2182.0,-22,2,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,351091,NaN,Cash loans,F,N,Y,1,135000.0,398160.0,25573.5,...,0.0,0.0,1.0,7.0,0,-2588.0,-6292.0,678,2,4261
8581,260936,NaN,Cash loans,M,N,Y,1,315000.0,962370.0,74605.5,...,0.0,0.0,0.0,7.0,0,-1942.0,-6943.0,-1245,2,4270
8587,283893,NaN,Cash loans,F,N,Y,0,227250.0,270000.0,11587.5,...,NaN,NaN,NaN,NaN,0,-1879.0,-8175.0,-838,2,4273
8589,323716,NaN,Cash loans,F,Y,Y,0,135000.0,540000.0,29295.0,...,0.0,0.0,0.0,0.0,0,-1834.0,-9525.0,1046,2,4274
8591,131471,NaN,Cash loans,M,Y,Y,0,121500.0,346500.0,22144.5,...,0.0,0.0,0.0,0.0,0,-1723.0,-6391.0,-2140,2,4275
8595,397549,NaN,Cash loans,F,N,N,2,112500.0,539100.0,27652.5,...,0.0,0.0,0.0,4.0,0,-1614.0,-5782.0,-1038,2,4277
8609,371433,NaN,Cash loans,M,Y,Y,1,135000.0,280170.0,29547.0,...,0.0,0.0,1.0,2.0,0,-1348.0,-6300.0,-1067,2,4284
8617,103516,NaN,Cash loans,M,N,Y,0,58500.0,55692.0,4594.5,...,NaN,NaN,NaN,NaN,0,-1209.0,-6573.0,-963,2,4288
8631,186034,NaN,Cash loans,M,Y,N,0,157500.0,267322.5,24516.0,...,0.0,0.0,0.0,6.0,0,-775.0,-6566.0,-573,2,4295
8643,395064,NaN,Cash loans,F,N,N,2,90000.0,585000.0,25767.0,...,0.0,0.0,0.0,0.0,0,-636.0,-7648.0,-1112,2,4301
8649,324146,NaN,Cash loans,F,N,N,1,126000.0,52128.0,6183.0,...,0.0,0.0,1.0,7.0,0,-483.0,-6847.0,-398,2,4304
8661,419691,NaN,Cash loans,F,Y,N,1,157500.0,495000.0,25272.0,...,0.0,0.0,0.0,4.0,0,-176.0,-7174.0,441,2,4310
8665,201234,NaN,Cash loans,M,Y,Y,1,135000.0,360000.0,15264.0,...,NaN,NaN,NaN,NaN,0,-164.0,-8692.0,1129,2,4312
8667,280524,NaN,Cash loans,M,N,Y,0,202500.0,375408.0,29790.0,...,0.0,0.0,0.0,9.0,0,-164.0,-8293.0,571,2,4313
8673,308442,NaN,Cash loans,F,N,Y,0,90000.0,78192.0,8010.0,...,0.0,0.0,1.0,4.0,0,-65.0,-10537.0,-2363,2,4316
8689,338784,NaN,Cash loans,M,Y,Y,0,450000.0,518071.5,40221.0,...,0.0,0.0,0.0,3.0,0,-36.0,-11509.0,450,2,4324
8695,287370,NaN,Cash loans,M,N,Y,0,135000.0,303489.0,22081.5,...,0.0,0.0,0.0,1.0,0,-33.0,-7392.0,-155,2,4327
8701,179194,NaN,Cash loans,M,N,Y,1,256500.0,331920.0,17077.5,...,0.0,0.0,0.0,3.0,0,-31.0,-7295.0,-1334,2,4330
8707,285376,NaN,Cash loans,F,Y,Y,1,135000.0,334152.0,17190.0,...,0.0,0.0,0.0,1.0,0,-30.0,-7296.0,265,2,4333
8711,408256,NaN,Cash loans,M,N,N,0,180000.0,517500.0,24894.0,...,NaN,NaN,NaN,NaN,0,-24.0,-7289.0,-164,2,4335
8713,246700,NaN,Cash loans,F,N,N,0,112500.0,376920.0,19372.5,...,0.0,0.0,0.0,1.0,0,-21.0,-7299.0,264,2,4336
8715,322965,NaN,Cash loans,F,N,N,0,135000.0,190764.0,12879.0,...,0.0,0.0,0.0,5.0,0,-14.0,-7298.0,38,2,4337
8723,130302,NaN,Cash loans,F,N,Y,0,216000.0,408330.0,20848.5,...,0.0,0.0,0.0,0.0,0,-9.0,-7321.0,-783,2,4341
8727,382111,NaN,Cash loans,F,N,Y,0,157500.0,539100.0,27652.5,...,0.0,0.0,0.0,4.0,0,-7.0,-7323.0,37,2,4343
8731,283683,NaN,Cash loans,F,N,N,0,166500.0,598500.0,30685.5,...,NaN,NaN,NaN,NaN,0,-5.0,-8111.0,955,2,4345
8737,189826,NaN,Cash loans,F,N,Y,1,103500.0,222768.0,17991.0,...,0.0,0.0,0.0,0.0,0,0.0,-9773.0,-2763,2,4348
8739,414635,NaN,Cash loans,F,N,Y,1,67500.0,90000.0,4725.0,...,0.0,0.0,0.0,2.0,0,0.0,-9648.0,1091,2,4349
8743,416761,NaN,Cash loans,F,N,Y,0,157500.0,597024.0,33466.5,...,NaN,NaN,NaN,NaN,0,0.0,-7512.0,176,2,4351
8745,294463,NaN,Cash loans,M,N,N,0,135000.0,67765.5,8172.0,...,NaN,NaN,NaN,NaN,0,0.0,-7351.0,-1123,2,4352
8751,355174,NaN,Cash loans,F,N,Y,0,360000.0,1024740.0,55588.5,...,0.0,0.0,2.0,3.0,0,0.0,-7322.0,-915,2,4355

In [8]:
dup[dup.dup_id.isin(dup_id_test_t1)][dup.is_train==0]

/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,DAYS_BIRTH-m-DAYS_REGISTRATION,DAYS_REGISTRATION-m-DAYS_ID_PUBLISH,DAYS_ID_PUBLISH-m-DAYS_EMPLOYED,dup_cnt,dup_id
809,311157,NaN,Cash loans,F,N,N,0,270000.0,450000.0,22977.0,...,0.0,0.0,1.0,3.0,0,-16339.0,-137.0,2571,2,403
1273,316815,NaN,Cash loans,F,N,N,0,135000.0,260725.5,20596.5,...,0.0,0.0,0.0,7.0,0,-14908.0,-1556.0,60,2,634
1485,288138,NaN,Cash loans,M,Y,N,0,292500.0,417708.0,30523.5,...,0.0,0.0,0.0,2.0,0,-14466.0,0.0,1571,2,740
1503,108045,NaN,Cash loans,F,N,Y,0,112500.0,278505.0,22131.0,...,0.0,0.0,0.0,0.0,0,-14416.0,3087.0,-264,2,749
1579,288876,NaN,Cash loans,F,Y,Y,1,247500.0,582804.0,29884.5,...,0.0,0.0,1.0,1.0,0,-14240.0,3122.0,-3140,2,787
2120,445047,NaN,Cash loans,F,N,Y,3,103500.0,132021.0,11331.0,...,0.0,0.0,0.0,1.0,0,-13224.0,2680.0,-2762,2,1056
2250,137651,NaN,Cash loans,M,Y,Y,0,180000.0,601470.0,30838.5,...,0.0,0.0,2.0,0.0,0,-13007.0,-3584.0,-2760,2,1121
2686,310586,NaN,Cash loans,F,Y,Y,0,157500.0,301401.0,13779.0,...,0.0,0.0,0.0,4.0,0,-12394.0,-4075.0,6245,2,1338
3563,140996,NaN,Cash loans,M,N,Y,0,135000.0,509400.0,40374.0,...,1.0,0.0,0.0,1.0,0,-11225.0,-5242.0,-2434,2,1775
3718,268602,NaN,Cash loans,F,N,Y,0,135000.0,450000.0,23107.5,...,0.0,0.0,1.0,7.0,0,-11046.0,34.0,446,2,1852
3804,362872,NaN,Cash loans,M,N,Y,0,171000.0,376920.0,16731.0,...,0.0,0.0,0.0,6.0,0,-10917.0,-5569.0,-281,2,1895
4060,279778,NaN,Cash loans,F,N,N,0,112500.0,366588.0,28498.5,...,0.0,0.0,0.0,8.0,0,-10609.0,1499.0,1476,2,2023
4242,381203,NaN,Cash loans,F,N,Y,1,54000.0,265500.0,11290.5,...,0.0,0.0,1.0,3.0,0,-10409.0,2226.0,-882,2,2114
4282,134494,NaN,Cash loans,F,N,Y,1,67500.0,136287.0,8838.0,...,NaN,NaN,NaN,NaN,0,-10351.0,2672.0,-3771,2,2134
4286,222303,NaN,Cash loans,M,N,Y,0,202500.0,265536.0,13684.5,...,0.0,0.0,0.0,0.0,0,-10331.0,-6948.0,-952,2,2136
4630,145157,NaN,Cash loans,F,N,Y,2,81000.0,72981.0,8788.5,...,NaN,NaN,NaN,NaN,0,-9940.0,1812.0,-1782,2,2306
4664,119813,NaN,Cash loans,M,Y,N,1,180000.0,104256.0,12370.5,...,0.0,0.0,2.0,3.0,0,-9897.0,-1047.0,-2430,2,2323
4692,282317,NaN,Cash loans,M,N,N,0,90000.0,109453.5,13117.5,...,NaN,NaN,NaN,NaN,0,-9875.0,2362.0,-931,2,2337
4826,401332,NaN,Cash loans,F,N,Y,0,202500.0,224149.5,26730.0,...,0.0,0.0,0.0,4.0,0,-9728.0,1074.0,-1653,2,2404
4830,419787,NaN,Cash loans,F,N,Y,3,54000.0,341280.0,21937.5,...,0.0,0.0,1.0,3.0,0,-9724.0,-782.0,-2385,2,2406
5346,421998,NaN,Cash loans,F,Y,Y,0,202500.0,806661.0,30541.5,...,0.0,0.0,1.0,3.0,0,-9070.0,-354.0,-1119,2,2663
5570,427067,NaN,Cash loans,F,N,Y,1,112500.0,135000.0,7020.0,...,0.0,0.0,0.0,5.0,0,-8802.0,1485.0,-1226,2,2775
6056,213957,NaN,Cash loans,F,N,Y,2,202500.0,284427.0,22599.0,...,0.0,0.0,1.0,4.0,0,-8180.0,-6614.0,967,2,3016
6092,281876,NaN,Cash loans,M,Y,Y,2,225000.0,180000.0,13095.0,...,0.0,0.0,2.0,3.0,0,-8113.0,-6220.0,-19,2,3034
6229,224488,NaN,Cash loans,M,N,N,0,135000.0,126000.0,6570.0,...,0.0,0.0,0.0,3.0,0,-7933.0,505.0,-2525,2,3102
6811,152833,NaN,Cash loans,F,N,Y,1,112500.0,1326352.5,42916.5,...,0.0,0.0,2.0,6.0,0,-7135.0,-2354.0,-156,2,3392
7159,273336,NaN,Cash loans,F,N,Y,1,157500.0,285453.0,14701.5,...,0.0,0.0,1.0,1.0,0,-6441.0,-2821.0,-4891,2,3566
7482,381121,NaN,Cash loans,M,Y,Y,1,315000.0,792162.0,43101.0,...,0.0,0.0,2.0,4.0,0,-6104.0,-1374.0,-2503,2,3726
7533,317227,NaN,Cash loans,F,N,Y,0,144000.0,312768.0,24840.0,...,0.0,0.0,0.0,8.0,0,-6074.0,-3019.0,1265,2,3751
7541,423503,NaN,Cash loans,F,N,Y,2,157500.0,180000.0,14350.5,...,1.0,0.0,0.0,3.0,0,-6073.0,-1620.0,-1713,2,3755
7578,358955,NaN,Cash loans,M,Y,N,1,225000.0,269982.0,28480.5,...,0.0,0.0,0.0,1.0,0,-6053.0,-2036.0,-172,3,3773
7613,338581,NaN,Cash loans,F,Y,N,2,135000.0,195543.0,15579.0,...,0.0,0.0,0.0,3.0,0,-6038.0,-1657.0,-2079,2,3790
7681,407091,NaN,Cash loans,M,N,N,1,112500.0,195543.0,15579.0,...,0.0,0.0,0.0,2.0,0,-5992.0,-3292.0,-1324,2,3824
7778,209288,NaN,Cash loans,F,N,Y,1,157500.0,93829.5,11263.5,...,0.0,0.0,2.0,2.0,0,-5951.0,-2465.0,-2384,2,3872
7921,401230,NaN,Cash loans,F,N,N,1,85500.0,265536.0,14535.0,...,0.0,0.0,0.0,0.0,0,-5896.0,-4414.0,-4894,2,3942
7937,293996,NaN,Cash loans,M,N,N,0,135000.0,296280.0,23539.5,...,0.0,0.0,2.0,1.0,0,-5890.0,-4369.0,-1820,2,3950
8123,103171,NaN,Cash loans,M,Y,Y,0,157500.0,291114.0,22657.5,...,0.0,0.0,1.0,5.0,0,-5825.0,-1718.0,-1560,2,4042
8161,175737,NaN,Cash loans,F,N,N,0,252000.0,248760.0,29650.5,...,NaN,NaN,NaN,NaN,0,-5746.0,-3361.0,1176,2,4061
8217,370844,NaN,Cash loans,F,Y,Y,0,67500.0,278460.0,21676.5,...,0.0,0.0,0.0,0.0,0,-5617.0,-2974.0,66,2,4089

In [9]:
ids_0 = dup[dup.dup_id.isin(dup_id_test_t0)][dup.is_train==0].SK_ID_CURR.tolist()
ids_1 = dup[dup.dup_id.isin(dup_id_test_t1)][dup.is_train==0].SK_ID_CURR.tolist()

/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [10]:
len( set(ids_0) & set(ids_1) ), set(ids_0) & set(ids_1)

(1, {358955})

In [11]:
dup[dup.dup_id==3773]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_train,DAYS_BIRTH-m-DAYS_REGISTRATION,DAYS_REGISTRATION-m-DAYS_ID_PUBLISH,DAYS_ID_PUBLISH-m-DAYS_EMPLOYED,dup_cnt,dup_id
7576,107055,1.0,Revolving loans,M,Y,N,1,225000.0,450000.0,22500.0,...,0.0,0.0,0.0,1.0,1,-6053.0,-2036.0,-172,3,3773
7577,359620,0.0,Cash loans,M,Y,N,1,270000.0,254700.0,27022.5,...,0.0,0.0,0.0,1.0,1,-6053.0,-2036.0,-172,3,3773
7578,358955,NaN,Cash loans,M,Y,N,1,225000.0,269982.0,28480.5,...,0.0,0.0,0.0,1.0,0,-6053.0,-2036.0,-172,3,3773

In [12]:
# remove 358955
ids_0.remove(358955)
ids_1.remove(358955)

# Swap

In [13]:
sub.sort_values('TARGET', inplace=True)

sub_0 = sub[sub.SK_ID_CURR.isin(ids_0)].reset_index(drop=True)
sub_1 = sub[sub.SK_ID_CURR.isin(ids_1)].reset_index(drop=True)
sub_other = sub[~sub.SK_ID_CURR.isin(ids_0+ids_1)].reset_index(drop=True)

In [14]:
sub_0

      SK_ID_CURR    TARGET
0         126822  0.000574
1         177424  0.001026
2         197224  0.001087
3         251267  0.001313
4         331032  0.001559
5         234695  0.001580
6         443039  0.002852
7         416826  0.003262
8         335313  0.003980
9         124362  0.004021
10        415117  0.005252
11        325377  0.006278
12        268761  0.006626
13        215488  0.007037
14        369717  0.008206
15        219000  0.008596
16        241395  0.008822
17        211150  0.009211
18        169836  0.009252
19        307177  0.010627
20        212533  0.011591
21        171997  0.011612
22        270894  0.012125
23        421690  0.012740
24        130264  0.012925
25        207060  0.014032
26        331370  0.014956
27        297269  0.015038
28        310568  0.015099
29        431373  0.018402
...          ...       ...
1531      419171  0.975853
1532      191490  0.976079
1533      290379  0.976756
1534      146060  0.977310
1535      164526  0.978049
1536      203821  0.978254
1537      138481  0.978336
1538      342802  0.978377
1539      229810  0.978685
1540      118871  0.979321
1541      280524  0.980326
1542      269293  0.980982
1543      202484  0.982193
1544      311170  0.984490
1545      344229  0.985516
1546      181538  0.985783
1547      259020  0.985824
1548      311609  0.986255
1549      272148  0.987055
1550      126438  0.987875
1551      321416  0.989188
1552      116880  0.989435
1553      169580  0.989619
1554      423061  0.992348
1555      372463  0.992573
1556      318615  0.992738
1557      296696  0.993045
1558      381754  0.993374
1559      141215  0.998215
1560      378349  0.999241

[1561 rows x 2 columns]

In [15]:
sub_1

    SK_ID_CURR    TARGET
0       268602  0.484490
1       288876  0.528270
2       401332  0.531573
3       310586  0.581323
4       145157  0.615686
5       311157  0.651034
6       362872  0.715678
7       175737  0.757570
8       370844  0.763417
9       103171  0.764032
10      421998  0.770905
11      427067  0.788856
12      279778  0.793062
13      224488  0.794067
14      209288  0.839734
15      407091  0.851223
16      445047  0.882303
17      213957  0.901116
18      137651  0.902142
19      222303  0.906430
20      152833  0.918903
21      281876  0.925899
22      338581  0.954312
23      282317  0.958026
24      401230  0.966539
25      423503  0.967196
26      419787  0.974048
27      119813  0.974602
28      134494  0.975997
29      108045  0.983916
30      140996  0.987486
31      317227  0.988840
32      381121  0.992450
33      273336  0.993333
34      381203  0.994133
35      293996  0.997928
36      316815  0.998646
37      288138  0.999979

In [16]:
target_all = sorted(sub_0.append(sub_1).TARGET.values)
target_0, target_1 = target_all[:sub_0.shape[0]], target_all[sub_0.shape[0]:]

In [17]:
len(target_0), len(target_1)

(1561, 38)

In [18]:
sub_0.TARGET = target_0
sub_1.TARGET = target_1

In [19]:
sub_0

      SK_ID_CURR    TARGET
0         126822  0.000574
1         177424  0.001026
2         197224  0.001087
3         251267  0.001313
4         331032  0.001559
5         234695  0.001580
6         443039  0.002852
7         416826  0.003262
8         335313  0.003980
9         124362  0.004021
10        415117  0.005252
11        325377  0.006278
12        268761  0.006626
13        215488  0.007037
14        369717  0.008206
15        219000  0.008596
16        241395  0.008822
17        211150  0.009211
18        169836  0.009252
19        307177  0.010627
20        212533  0.011591
21        171997  0.011612
22        270894  0.012125
23        421690  0.012740
24        130264  0.012925
25        207060  0.014032
26        331370  0.014956
27        297269  0.015038
28        310568  0.015099
29        431373  0.018402
...          ...       ...
1531      419171  0.960508
1532      191490  0.961164
1533      290379  0.961595
1534      146060  0.961903
1535      164526  0.962006
1536      203821  0.962231
1537      138481  0.965473
1538      342802  0.965760
1539      229810  0.966006
1540      118871  0.966437
1541      280524  0.966478
1542      269293  0.966498
1543      202484  0.966539
1544      311170  0.966929
1545      344229  0.967196
1546      181538  0.968345
1547      259020  0.968447
1548      311609  0.968550
1549      272148  0.969330
1550      126438  0.969494
1551      321416  0.971361
1552      116880  0.972058
1553      169580  0.973248
1554      423061  0.974048
1555      372463  0.974561
1556      318615  0.974602
1557      296696  0.974848
1558      381754  0.975628
1559      141215  0.975853
1560      378349  0.975997

[1561 rows x 2 columns]

In [20]:
sub_1

    SK_ID_CURR    TARGET
0       268602  0.976079
1       288876  0.976756
2       401332  0.977310
3       310586  0.978049
4       145157  0.978254
5       311157  0.978336
6       362872  0.978377
7       175737  0.978685
8       370844  0.979321
9       103171  0.980326
10      421998  0.980982
11      427067  0.982193
12      279778  0.983916
13      224488  0.984490
14      209288  0.985516
15      407091  0.985783
16      445047  0.985824
17      213957  0.986255
18      137651  0.987055
19      222303  0.987486
20      152833  0.987875
21      281876  0.988840
22      338581  0.989188
23      282317  0.989435
24      401230  0.989619
25      423503  0.992348
26      419787  0.992450
27      119813  0.992573
28      134494  0.992738
29      108045  0.993045
30      140996  0.993333
31      317227  0.993374
32      381121  0.994133
33      273336  0.997928
34      381203  0.998215
35      293996  0.998646
36      316815  0.999241
37      288138  0.999979

In [21]:
sub_new = pd.concat([sub_0, sub_1, sub_other])
sub_new.sort_values('TARGET', inplace=True)
sub_new.reset_index(drop=True, inplace=True)

sub_new.shape

(48744, 2)

In [22]:
sub.shape

(48744, 2)

In [23]:
sub_new.SK_ID_CURR.unique().shape

(48744,)

In [24]:
sub_new.to_csv('../output/stochastic_blending_v3-2_0.308rk7_0.431mw1_0.261t1_0.81050CV_0.3Adv_Leak004.csv.gz', index=False, compression='gzip')